<!DOCTYPE html>
<html>

<head>
    <title>goodsenseliving</title>
    <!-- ********************************************* META *******************************************************-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="goodsenseliving" />
    <meta property="og:description" content="" />
    <!-- ********************************************* STYLE *******************************************************-->

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- ******************************************* SCRIPTS *****************************************************-->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>


</head>

<body class="web-body">
    <div class="container header-container">
        <div class=" row ">
            <div class="col-md-6 ">
                <a href="#" title="Good Sense Living " rel="home">
                    <div class="logo-div">
                        <img src="../static/img/advertorial/logo.png " height="56 " width="300 " alt="Good Sense Living ">
                    </div>
                </a>
            </div>
            <div class="col-md-6 call-header-col">
                <h2 class="call-header">CALL NOW: 1-866-207-7824</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 nav-col">
                <nav class="navbar navbar-expand-lg navbar-dark font-weight-bold nav-style">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">BUSINESS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">FINANCE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">CAREER</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">EDUCATION</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">TECHNOLOGY</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">HEALTH</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">LIFESTYLE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">TRAVEL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">UNSUBSCRIBE</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>
    </div>













    <div class="container content-container">
        <div class="row">
            <div class="col-md-8">
                plaplaplaplaplaplaplapla
            </div>
            <div class="col-md-4">
                plaplaplaplaplaplaplapla
            </div>
        </div>
    </div>























    <div class="container-fluid footer-container-fluid">
        <div class="container">
            <div class="row footer-container-row">
                <div class="col-sm-4">
                    <div class="card footer-card">
                        <div class="card-body">
                            <h5 class="card-title card-title-style">FOLLOW US</h5>
                            <div>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <a data-provider="facebook" target="_blank" rel="nofollow" title="Follow us on Facebook" href="https://www.facebook.com/pages/Good-Sense-Living/1413541085623217"><img alt="Facebook" title="Follow us on Facebook" class="" width="48" height="48" src="../static/img/social/facebook.png"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a data-provider="twitter" target="_blank" rel="nofollow" title="Follow us on Twitter" href="https://twitter.com/sensibleguide"><img alt="twitter" title="Follow us on Twitter" class="" width="48" height="48" src="../static/img/social/twitter.png"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a data-provider="google_plus" target="_blank" rel="nofollow" title="Follow us on Google+" href="https://plus.google.com/u/2/108030996023777761098/posts"><img alt="google_plus" title="Follow us on Google+" class="" width="48" height="48" src="../static/img/social/google_plus.png"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a data-provider="rss" target="_blank" rel="nofollow" title="Subscribe to our RSS Feed" href="http://feeds.feedburner.com/GoodSenseLiving"><img alt="rss" title="Subscribe to our RSS Feed" class="" width="48" height="48" src="../static/img/social/rss.png"></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a data-provider="youtube" target="_blank" rel="nofollow" title="Find us on YouTube" href="https://www.youtube.com/channel/UCZ_5Fpu6iWh6s_SwPe7mC5w"><img alt="youtube" title="Find us on YouTube" class="" width="48" height="48" src="../static/img/social/youtube.png"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card footer-card">
                        <div class="card-body">
                            <h5 class="card-title card-title-style">ABOUT</h5>
                            <p class="card-text ">We are the go-to source for financial, business and lifestyle enthusiasts by constantly sharing valuable information, credible advice and always being up to date with the most current trends. We promise to deliver the newest
                                and most relevant stories to keep you informed and well ahead of the game.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card footer-card">
                        <div class="card-body">
                            <h5 class="card-title card-title-style">LATEST</h5>
                            <ul class="list-group">
                                <li class="list-group-item card-list-item"><a class="linkstyle" href="#">Why Budgets Aren’t As Good As You Think They Are</a></li>
                                <li class="list-group-item card-list-item"><a class="linkstyle" href="#">5 Reasons You Should Never Buy a New Car</a></li>
                                <li class="list-group-item card-list-item"><a class="linkstyle" href="#">7 Podcasts About Money for Beginner Investors</a></li>
                                <li class="list-group-item card-list-item"><a class="linkstyle" href="#">Is Buying Your Home Really Better Than Renting?</a></li>
                                <li class="list-group-item card-list-item"><a class="linkstyle" href="#">Is Whole Life Insurance a Scam?</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container-fluid">
            <div class="row row-in-footer">
                <div class="col-md-6">
                    © COPYRIGHT 2015 | GOOD SENSE LIVING
                </div>
                <div class="col-md-6 text-right">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="linkstyle" href="#"> ABOUT US</a></li>
                        <li class="list-inline-item"><a class="linkstyle" href="#">PRIVACY POLICY</a></li>
                        <li class="list-inline-item"><a class="linkstyle" href="#">TERMS OF SERVICE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>